{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-3">

        <div class="card card-dashboard p-4">

            <h2>0</h2>

            <p>Clientes</p>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card card-dashboard p-4">

            <h2>0</h2>

            <p>Empresas</p>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card card-dashboard p-4">

            <h2>0</h2>

            <p>Processos</p>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card card-dashboard p-4">

            <h2>0</h2>

            <p>Cálculos</p>

        </div>

    </div>

</div>

{% endblock %}