<div class="topbar">

    <h4>Sistema Previdenciário</h4>

    <div class="d-flex align-items-center gap-3">

        <span>
            <i class="fa-solid fa-user"></i>

            {{ request.user.username }}
        </span>

        <form method="post" action="{% url 'logout' %}" class="m-0">
            {% csrf_token %}

            <button type="submit"
                    class="btn btn-outline-secondary btn-sm">
                <i class="fa-solid fa-right-from-bracket"></i>
                Sair
            </button>
        </form>

    </div>

</div>